<div class="row" *ngFor="let trabalho of trabalhos" [ngStyle]="{'margin-bottom':20+'px'}">
  <div class="col-sm-12">
    <div class="card" [ngStyle]="{'padding':20+'px'}">
      <div class="card-block">
        <h4 class="card-title">{{ trabalho.estudante }}</h4>
        <p class="card-text">{{ trabalho.tema }}</p>
        <p [ngStyle]="{'font-size':10+'px'}">Curo: {{ trabalho.curso | uppercase }} | Area: {{ trabalho.area | uppercase }} </p>
        <p [ngStyle]="{'font-size':10+'px'}">{{ trabalho.nrPalavras }} palavras | {{ trabalho.nrPaginas }} paginas</p>

        <a href="#" class="btn btn-primary">Ler todo o documento</a>
      </div>
    </div>
  </div>
</div>
