<div class="container descricao">
  <div class="row">
    <div class="col text-center">
      <i class="material-icons">find_in_page</i>
      <h4>Pesquise trabalhos</h4>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col text-center">
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <input type="text" class="form-control input-lg" placeholder="Pesquisar trabalho por tema, area, curso, estudante" />
        </div>
      </div>
    </div>
  </div>
</div>

